.navbar {
  margin-bottom: 0;
  border-radius: 0;
  border: 0;
  height: 50px;
  padding-bottom: 50px;
}

.navbar li a,
.navbar .navbar-brand {
  color: #999 !important;
}

.navbar-nav li a:hover,
.navbar-nav li.active a {
  color: #212021 !important;
  background-color: #fff !important;
}

a:hover {
  cursor: pointer;
}

.dropdown-menu{
  background-color: #222222;
}

[hidden] { display: none !important;}
